<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Calculatrice</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
   

</head>
<body>
    <div class="calculator">
        <h1>Calculatrice Simple</h1>
        <input type="text" id="expression" placeholder="0" />
        <div class="buttons">
            <button onclick="append('1')">1</button>
            <button onclick="append('2')">2</button>
            <button onclick="append('3')">3</button>
            <button id="mauve" onclick="append('+')">+</button>
            <button onclick="append('4')">4</button>
            <button onclick="append('5')">5</button>
            <button onclick="append('6')">6</button>
            <button id="mauve" onclick="append('-')">-</button>
            <button onclick="append('7')">7</button>
            <button onclick="append('8')">8</button>
            <button onclick="append('9')">9</button>
            <button id="mauve" onclick="append('*')">*</button>
            <button onclick="append('0')">0</button>
            <button id="mauve" onclick="append('.')">.</button>
            <button id="mauve" onclick="clearExpression()">C</button>
            <button id="mauve" onclick="append('/')">/</button>
            <button id="btn" onclick="calculate()">=</button>
        </div>
        <p id="result"></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
